/* estilizacao provisoria */

aside {
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #030f26ce;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

aside > div > p {
  display: flex;
  gap: 5px;
}
aside > div > p > caption {
  color: #a7bdd9;
}
.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btnCadastro {
  cursor: pointer;
}
.btnCadastro:hover {
  text-decoration: underline;
  color: #a7bdd9;
  transition: 0.3s;
}
